.sql_logger  {
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
-o-text-overflow: ellipsis;
max-width: 150px;

}

.sql_logger_kolona_uputstvo  {

	width: 200px;

}

.btn-circle.btn-xl {/*Okruglo veliko dugme*/
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}
.btn-circle {/*Okruglo malo dugme*/
    width: 150px;
    height: 40px;
    padding: 6px 0px;
    border-radius: 20px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}



.noteSetovanjaHelena
{
    text-align: center;
    height: 20px;
    background: -webkit-linear-gradient(left, #0072ff, #8811c5);
    color: #fff;
    font-weight: bold;
    line-height: 80px;
}

.btnSubmitSetovanjaHelena
{
    border:none;
    /*border-radius:1rem;*/
    padding: 1%;
    /*width: 70px;*/
    cursor: pointer;
    background: #0062cc;
    color: #fff;
}

.btnDynamic {
  background-color: white;
  margin-right: 5px;
  border: solid 1px;
  /*color: white;*/
  padding: 3px 10px;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
}


@media (min-width: 1200px) {
    .btnDynamic {
  background-color: white;
  margin-right: 5px;
  border: solid 1px;
  /*color: white;*/
  padding: 3px 10px;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
}

.kalkulacijeSirinaSelecta {
max-width: 167px;
}

 }



 @media (min-width: 992px) and (max-width: 1199.98px) { 

  
.btnSubmitSetovanjaHelena
{
    border:none;
    /*border-radius:1rem;*/
    padding: 1%;
    /*width: 70px;*/
    cursor: pointer;
    background: #0062cc;
    color: #fff;
}


.kalkulacijeSirinaSelecta {
max-width: 167px;
}



  }
